Django==3.1.0
dj_database_url==0.5.0
djangorestframework==3.14.0 
django-cors-headers==3.11.0
django-environ==0.10.0
firebase_admin==6.2.0 
fuzzywuzzy==0.18.0 
pandas==2.0.3 
gunicorn==21.2.0
asyncio==3.4.3
whitenoise